@import "../../styles.scss";

.qui-box {
  background-color: white;
}

.qui-blurred-image {
  object-fit: cover;
  height: 250px;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.qui-backdrop {
  background-color: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(10px);
  width: 100%;
}

.qui-project-title {
  @media screen and (max-width: $small) {
    font-size: 24px;
  }
  @media screen and (min-width: $large) {
    font-size: 45px;
  }

  display: flex;
  align-items: flex-end;
  font-family: $font-family-sans-serif;
  text-overflow: ellipsis;
}

.qui-project-subtitle {
  @media screen and (max-width: $small) {
    font-size: 13px;
    font-weight: normal;
  }
  @media screen and (min-width: $large) {
    font-size: 30px;
  }
  display: flex;
  font-family: $font-family-sans-serif;
}

.qui-separator {
  border-color: $primary;
}

.qui-vertical-separator {
  @media screen and (min-width: $large) {
    border-right: 2px solid #6b3ca7;
  }
}

.qui-sticky-title {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
}

.qui-icon {
  color: $primary;
}
