@import "../../styles.scss";

.qui-blurred-image {
  object-fit: cover;
  height: 250px;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.qui-backdrop {
  background-color: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(10px);
  width: 100%;
}

.qui-project-title {
  align-items: flex-end;
  font-family: $font-family-sans-serif;
  text-overflow: ellipsis;
}

.qui-project-subtitle {
  font-family: $font-family-sans-serif;
}

.qui-separator-primary {
  border-color: $primary;
}

.qui-separator-light {
  border-color: $light;
}

.qui-separator-gray {
  border-color: gray;
}

.qui-vertical-separator {
  @media screen and (min-width: $large) {
    border-right: 2px solid #6b3ca7;
  }
}

.qui-sticky-title {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
}

.qui-icon {
  color: $primary;
}
