.qui-project-title {
    background-image: url(https://www.itmplatform.com/lib/uploads/Gesti%C3%B3n-de-Proyectos-5-Requisitos-del-%C3%89xito-300x199.png);
    height: 40px;
    filter: blur(8px);
    -webkit-filter: blur(8px);
}