.qui-search-icon {
  left: 24px;
  top: 20px;
  width: 24px;
  height: 24px;
}

.invert-colors {
  -webkit-filter: invert(1);
  filter: invert(1);
}

.qui-hamburger-accordion-card-header {
  border-radius: 0px;
  border-left: none;
  border-right: none;
}
