@import "../../utils.scss";

.qui-header {
  color: white;
}

.qui-brand-name {
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.qui-brand-logo {
  @media screen and (min-width: 768px) {
    width: 64px;
    height: 64px;
  }
}

.qui-user-icon-container {
  @include img-circle-container;
  @media screen and (min-width: 768px) {
    width: 64px;
    height: 64px;
  }
  @media screen and (max-width: 767px) {
    width: 48px;
    height: 48px;
  }
}

.qui-user-icon {
  width: 64px;
  height: 64px;
}

.qui-header-container {
  overflow: hidden;
  position: relative;
  width: 100%;
}

.qui-header-user {
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
}
