@import "../../styles.scss";

.qui-header {
  background-color: $primary;
  color: white;
}

.qui-brand-name {
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.qui-brand-logo {
  width: 64px;
  height: 64px;
}
