<?xml version="1.0" encoding="UTF-8"?>

<configuration scan="false">

    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>log</file>
        <append>true</append>
        <encoder>
            <pattern>
                %d{ISO8601}{GMT} %-5level [${HOSTNAME}] [%X{reqId}] [] [%thread] %logger{0}: %msg %n
            </pattern>
        </encoder>
    </appender>

    <logger name="com.github.proyeception.benito" level="INFO"/>

    <root level="INFO">
        <appender-ref ref="FILE"/>
    </root>

</configuration>
