$primary: #6b3ca7;
$info: #80aef3;
$large: 768px;
$small: 767px;
$font-family-sans-serif: "Raleway", sans-serif;

@import "bootstrap";

.qui-font-text {
  font-family: "Open Sans", sans-serif;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.center-vertically {
  display: flex;
  align-items: center;
}

.center-horizontally {
  display: flex;
  justify-content: center;
}

.qui-app {
  background-color: #f1f1f1;
}

body {
  font-family: "Open Sans", sans-serif;
}

.qui-link {
  text-decoration: none;
}
