$small-max-breakpoint: 767px;
$large-min-breakpoint: 768px;
$light-gray: #f1f1f1;

@for $i from 8 through 48 {
  .font-size-#{$i} {
    font-size: #{$i}px;
  }

  .font-size-#{$i}-md {
    @media screen and (min-width: $large-min-breakpoint) {
      font-size: #{$i}px;
    }
  }
}

@for $i from 0 through 5 {
  .un-ml-#{$i} {
    margin-left: -#{$i * 15}px;
  }

  .un-mr-#{$i} {
    margin-right: -#{$i * 15}px;
  }

  .un-mt-#{$i} {
    margin-top: -#{$i * 15}px;
  }

  .un-mb-#{$i} {
    margin-bottom: -#{$i * 15}px;
  }

  .un-ml-md-#{$i} {
    @media screen and (min-width: $large-min-breakpoint) {
      margin-left: -#{$i * 15}px;
    }
  }

  .un-mr-md-#{$i} {
    @media screen and (min-width: $large-min-breakpoint) {
      margin-right: -#{$i * 15}px;
    }
  }

  .un-mt-md-#{$i} {
    @media screen and (min-width: $large-min-breakpoint) {
      margin-top: -#{$i * 15}px;
    }
  }

  .un-mb-md-#{$i} {
    @media screen and (min-width: $large-min-breakpoint) {
      margin-bottom: -#{$i * 15}px;
    }
  }
}

.min-h-240 {
  min-height: 240px;
}

.min-h-720-md {
  @media screen and (min-width: $large-min-breakpoint) {
    min-height: 720px;
  }
}

.cursor-pointer {
  cursor: pointer;
}

.bg-light-gray {
  background-color: $light-gray;
}

.text-black {
  color: black;
}

@mixin img-circle-container {
  border-radius: 50%;
  overflow: hidden;
}

.img-circle {
  height: 100%;
  width: 100%;
}

.normalize-link {
  color: inherit;
  text-decoration: none !important;
}

.normalize-link:visited {
  color: inherit;
  text-decoration: none !important;
}

.normalize-link:hover {
  color: inherit;
  text-decoration: none !important;
}

.normalize-link:focus {
  color: inherit;
  text-decoration: none !important;
}

.normalize-link:active {
  color: inherit;
  text-decoration: none !important;
}

.underline-hover:hover {
  text-decoration: underline;
}
