@import "../../styles.scss";

.qui-summary-image-container {
  position: relative;
  margin: -50% auto; /* virtualy height needed turn don to zero */
  width: 100%; /* height will follow within image ratio */
  height: auto; /* to overrride attribute height set in tag */
  vertical-align: middle; /* finalise vertical centering on baseline*/
}

.qui-summary-image-sm {
  display: block;
  max-width: 100%;
}

.qui-authors {
  text-align: right;
  color: #a3a3a3;
}

.qui-search-header {
  @media screen and (max-width: $large) {
    background: rgba(107, 60, 167, 0.1);
  }
}

.qui-summary-image-md {
  display: block;
  max-width: 100%;
}

.qui-searchbox-md {
  display: flex;
}

.qui-search-input {
  border-color: $primary;
  border-radius: 10px;
  max-width: 90%;
  border-width: 1px;
}

.qui-search-input-date {
  @media screen and (max-width: 1879px) {
    font-size: 13px !important;
    padding: 10px !important;
  }
  @media screen and (max-width: 1365px) {
    font-size: 9px !important;
    padding: 8px !important;
  }
  @media screen and (min-width: 1880px) {
    font-size: 1 rem !important;
    padding-left: 10px !important;
  }
  border-color: $primary;
  border-radius: 10px;
  max-width: 100%;
  border-width: 1px;
  margin-right: 5px;
  margin-top: 5px;
}

.qui-search-filter {
  padding-left: 20px;
  padding-top: 10px;
}

.qui-search-box {
  margin-left: 10px;
  margin-top: 60px;
  border: $primary;
  border-radius: 10px;
  border-style: solid;
  padding-bottom: 10px;
  border-width: 1px;
}

.qui-search-btn {
  width: 80%;
  align-items: center;
  border-radius: 10px;
  margin-top: 20px;
  margin-left: 20px;
}

.qui-background {
  background-color: gray;
}

.qui-date-filter-container {
  max-width: 90%;
}

.qui-search-combo {
  border-color: $primary;
  border-radius: 10px;
  border-width: 1px;
}
